main{
    background-image: url("images/mainBackground.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
}

footer{
    height: 50px;
    background-color: antiquewhite;
}