main{
    background-image: url("images/mainBackground.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
}
header{
    display: flex;  
    justify-content: space-between;

}

.nav-links{
    display: flex;
    gap: 20px;
    list-style-type: none;
    align-items: center;
}

.nav-link a{
    text-decoration: none;
    color: black;
}
footer{
    height: 50px;
    background-color: antiquewhite;
}